.wedding-title {
  font-size: 30px;
  font-weight: 600;
}

.wedding-image {
  max-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

@media (min-width: 500px) {
  .wedding-title {
    font-size: 72px;
    font-weight: 600;
  }

  .wedding-image {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
  }

}