<h1>Lista de Presentes</h1>

<p>
Não faremos lista de presente, mas se desejar ajudar a realizar nossos sonhos você pode contribuir por meio de PIX.
<br /><br />
<strong>Chave PIX: (11) 99739-4001</strong>
<br /><br />
<!-- <span *ngIf="qrCodeUrl" >Também pode escanear o QR Code abaixo:</span>
</p>

<img [src]="qrCodeUrl" alt="QR Code" *ngIf="qrCodeUrl" />
<div *ngIf="pixPayload">
    <p>ou copie e cole no seu banco:</p>
    <textarea readonly rows="4" cols="50">{{ pixPayload }}</textarea>
</div> -->

<img src="../../assets/images/qrcode_pix_naty.png" alt="QR Code" style="width:30%; min-width:250px;"/>
<br />