.rules-text {
    width: 70%;
    margin: 0 auto;
    //font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: 600;
    font-style: regular;
}

h3 {
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    font-weight: 600;
    font-style: regular;
}

@media (min-width: 500px) {
    .rules-text {
        width: 70%;
        margin: 0 auto;
        //font-family: "Emilys Candy", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Indie Flower", cursive;
        font-size: 34px;
        font-weight: 600;
        font-style: regular;
    }

    h3 {
        font-family: "Indie Flower", cursive;
        font-size: 28px;
        font-weight: 600;
        font-style: regular;
    }
}