.rules-text {
    width: 70%;
    margin: 0 auto;
    //font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: 600;
    font-style: regular;
}

h3 {
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    font-weight: 600;
    font-style: regular;
}

.mat-icons{
    margin: 0 auto;
    color: #303030;
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    height: 24px;
}

@media (min-width: 500px) {
    .rules-text {
        width: 70%;
        margin: 0 auto;
        //font-family: "Emilys Candy", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Indie Flower", cursive;
        font-size: 34px;
        font-weight: 600;
        font-style: regular;
    }

    h3 {
        font-family: "Indie Flower", cursive;
        font-size: 28px;
        font-weight: 600;
        font-style: regular;
    }
    .mat-icons{
        margin: 0 auto;
        color: #303030;
        font-size: 48px;
        line-height: 48px;
        width: 48px;
        height: 48px;
    }
}